# Astro
# Build output
dist/
.output/

# Generated types
.astro/

# Dependencies
node_modules/

# Logs
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun-debug.log*
lerna-debug.log*

# Environment variables
.env
.env.*
!.env.example

# Bun
.bunfig.toml
bun.lockb
bun.lock

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.orig
*.pyc
*.swp

# IntelliJ/JetBrains
*.iws
out/
.idea_modules/

# Operating System Files
# Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon
ehthumbs.db
Thumb.db
.AppleDouble
.LSOverride
.AppleDB
.AppleDesktop
.DocumentRevisions-V100
.fseventsd
.TemporaryItems
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
*.icloud

# Build and package management
.pnp.*
.yarn/
.npm/
*.tgz
*.pem
.pnp.js
/coverage
/build
.cache/
.parcel-cache/
*.tsbuildinfo

# Package manager files
.yarn-integrity
.node_repl_history

# Testing & Reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
lib-cov/
coverage/
*.lcov
.nyc_output/

# Caches & Tooling
.eslintcache
.stylelintcache
.grunt/
bower_components/
.lock-wscript
build/Release/
jspm_packages/
web_modules/
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vscode-test/
.webpack/
.svelte-kit/

# Generated directories
.nuxt*
.next
out/
.temp
.docusaurus
.vuepress/dist

# Backup files
**/*.backup.*
**/*.back.*

# Design files
psd
thumb
sketch
.fig

# Editor specific files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
sftp-config.json
sftp-config-alt*.json
Package Control.*
oscrypto-ca-bundle.crt
bh_unicode_properties.cache
GitHub.sublime-settings
.history/
*.vsix
.ionide

# Windows specific
Thumbs.db*
ehthumbs*.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi*
*.msm
*.msp
*.lnk