---
import { Icon } from "astro-icon/components";

interface Props {
  variant?: "default" | "vertical" | "horizontal";
}

const { variant = "default" } = Astro.props;
---

<div
  class={`steps-wrapper my-8 ${variant === "horizontal" ? "steps-horizontal" : ""}`}
>
  <slot />
</div>

<style>
  .steps-wrapper {
    counter-reset: step-counter;
  }

  .steps-wrapper :global(.step) {
    counter-increment: step-counter;
    position: relative;
    padding-left: 4rem;
    margin-bottom: 2rem;
  }

  .steps-wrapper :global(.step::before) {
    content: counter(step-counter);
    position: absolute;
    left: 0;
    top: 0;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: hsl(var(--p));
    color: hsl(var(--pc));
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.125rem;
  }

  .steps-wrapper :global(.step::after) {
    content: "";
    position: absolute;
    left: 1.25rem;
    top: 2.5rem;
    bottom: -2rem;
    width: 2px;
    background: hsl(var(--bc) / 0.2);
  }

  .steps-wrapper :global(.step:last-child::after) {
    display: none;
  }

  .steps-horizontal {
    display: flex;
    gap: 2rem;
    overflow-x: auto;
  }

  .steps-horizontal :global(.step) {
    flex: 1;
    min-width: 200px;
    padding-left: 0;
    padding-top: 4rem;
  }

  .steps-horizontal :global(.step::before) {
    left: 50%;
    transform: translateX(-50%);
  }

  .steps-horizontal :global(.step::after) {
    left: 50%;
    top: 2.5rem;
    bottom: auto;
    height: 2px;
    width: 100%;
    transform: translateX(50%);
  }

  .steps-horizontal :global(.step:last-child::after) {
    display: none;
  }

  /* Content styling */
  .steps-wrapper :global(.step h3) {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: hsl(var(--bc));
  }

  .steps-wrapper :global(.step p) {
    color: hsl(var(--bc) / 0.7);
    margin-bottom: 0.5rem;
  }

  .steps-wrapper :global(.step p:last-child) {
    margin-bottom: 0;
  }
</style>
